RewriteEngine on  
RewriteCond $1 !^(index\.php|images|skin|js|ls|static|uploads|thirdpart|attachment|application|robots\.txt)  
RewriteRule ^(.*)$ /index.php/$1 [L]
<Files ~ "\.json$">
   Order allow,deny
   Deny from all
</Files>